*{
    padding: 0px;
    margin: 0px;
}

:root{
     --button-color: #1F9EF9;
}

body{
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows:  repeat(10,1fr);
    height: 100vh;
}

header{
  grid-column: 1/16;
}

aside{
    grid-column: 1/3;
    grid-row: 2/11;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #F8F9FA;
    gap: 10px;
    
}

    .button{
        width: 95%;
        height: 5vh;
        background-color: #F8F9FA;
        color: black;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        border-radius: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 12px;
        transition: 0.3s ease all;
    }


    .button:hover{
        transform: translateX(5px);
        transition: 0.4s ease all;
        cursor: pointer;
        
    }


.main{
    grid-column: 3/16;
    grid-row: 2/11;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}

h2{
    color: var(--button-color);
}

.background-blue-color-white{
    background-color: var(--button-color);
    color: white;
}

a{
    text-decoration: none;
}
/* ===== TABLA GENERAL  ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

thead th {
    
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
}

th {
    background: green;
    color: #ffffff;

    height: 50px;
}


tbody td {
    padding: 10px 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
}

/* ===== INPUTS DENTRO DE TABLA (que se vean como texto normal) ===== */
table input {
    border: none;
    background: transparent;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: inherit;
    padding: 4px 0;
    color: #333;
}

table input:focus {
    outline: none;
}

/* ===== ICONOS ===== */
.btn-icon {
    cursor: pointer;
    font-size: 18px;
    padding: 6px;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-icon:hover {
    background-color: #eaeaea;
}
